<% content_for(:page_name) {"New Todo"} %>
<h1>Show todo page</h1>
<h1><%= @todo_item.title %></h1>
<h4><%= @todo_item.user.name %></h4>
<h4><%= @todo_item.category.name %></h4>
<%= link_to "Go Back", :back %>